
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <heder>
        <nav>
            <a href="#">Create</a>
            <a href="#">Update</a>
            <a href="#">GetAll</a>
            <a href="#">Delete</a>

        </nav>
    </heder>


    <main>

    </main>

    <footer>
    </footer>

</body>
</html>
