
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
</head>
<body>
    <heder>
        <nav>


        </nav>
    </heder>


    <main>

    </main>

    <footer>
    </footer>

</body>
</html>
